<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">

    <table>
        <tr>
            <td><label for="name">Enter name: </label></td>
            <td><input type="text" id="name" th:field="*{name}" required/></td>
            <td style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>

        <tr>
            <td><label for="age">Enter age: </label></td>
            <td><input type="number" id="age" th:field="*{age}" min="1" max="100" step="1"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>

        <tr>
            <td><label for="email">Enter email: </label></td>
            <td><input type="email" id="email" th:field="*{email}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>

        <tr>
            <td><input type="submit" value="Create!"></td>
        </tr>

    </table>

</form>


</body>
</html>